
body {
/*	background: #ff4b1f; 
	background: -webkit-linear-gradient(to left, #ff4b1f , #1fddff); 
	background: linear-gradient(to left, #ff4b1f , #1fddff); */
        
	font-family: 'Roboto', sans-serif;
}

.activity-hr {
	border-top: 1px solid #000;
}

.overall-container {
	margin-top: -20px;
	padding-top: 0px;
	background: white;
	height: 100%;
	width: 100%;
}
/*

OVERALL CONTAINER

*/

.load-container {	
	background: #134E5E; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow: hidden;
	min-height: 100%;
}

/*

HEADER

*/

.load-header {
	padding-bottom: 10px;
}

.socialaccount_ballot {
	padding-top: 10px;
}
/*

SEARCH BAR and logo

*/

.load-header-search {
	float: left;
	padding-right: 10px;
}

.load-header-search > .logo {
	margin-left: 6px;
	width:200px;
}


/*

NAVIGATION BAR

*/

.load-navigation {
	margin-left: 20px;
}


/*
	CSS to give the look of the navagtion menu bars
*/
.load-navigation > ul {
	list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 16px;
}

.load-navigation > ul > li  {
	float: left;
}

.load-navigation > ul > li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.load-navigation > ul > li a:hover {
    background-color: red;
}


/*

LEFT COLUMN CSS

*/

.load-left-col {
	float: left;
	height: 750px;
	width:60%;
	overflow: scroll;
	overflow-x: hidden;
}

/*

SEARCH FORM

*/

.load-search-form {
	padding-top: 20px;
	padding-left: 10px;
}

/*

ACTIVITIES

*/

.load-activities {
	background-color: #f5f5f5;
	padding-left: 10px;
}

/*

ACTIVITY

*/

/*
	CSS for events container
*/
.load-activity {
	min-height: 200px;
	margin: 10px, 5px, 5px, 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

/*
	Allows images to wrap, around text
*/
.load-activity > .activity-image-container {
	float: left;
	margin: 5px 15px 15px 5px;
}

/*
	Sets limit for images to prevent over floating of images 
*/
.load-activity > .activity-image-container > .activity-image {
	max-height: 200px;
	max-width: 200px;
}

/*

RIGHT COL

*/
.load-right-col {
	margin-left: 62%;
	height: 750px;
	word-wrap: break-word;
	overflow: scroll;
	overflow-x: hidden;
}

/*

ADDED EVENTS IN RIGHT COL

*/
.load-added-event-list {
}


/*

Footer

*/
.load-footer {
	width: 100%;
	height: 60px;
	bottom: 0px;
	background-color: #f5f5f5;
	position: absolute;
	padding-top: 10px;
	text-align: center;
}