body {
}

/*

OVERALL CONTAINER

*/

.load-container {	
	background: #134E5E; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow: hidden;
	min-height: 100%;
}

/*

SEARCH BAR + LOGO

*/

.load-header-search {
	float: left;
	padding-right: 10px;
}

/*

NAVIGATION BAR

*/

.load-navigation {
	margin-left: 20px;
}


/*
	CSS to give the look of the navagtion menu bars
*/
.load-navigation > ul {
	list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.load-navigation > ul > li  {
	float: left;
}

.load-navigation > ul > li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.load-navigation > ul > li a:hover {
    background-color: #111;
}


/*

LEFT COLUMN CSS

*/

.load-left-col {
	float: left;
	height: 700px;
	width:700px;
	overflow: scroll;
	overflow-x: hidden;
}

/*

ACTIVITIES

*/

.load-activities {
	background-color: red;
}

/*

ACTIVITY

*/

/*
	CSS for events container
*/
.load-activity {
	height: 300px;
	background-color: green;
	margin: 10px, 5px, 5px, 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

/*
	Allows images to wrap, around text
*/
.load-activity > .activity-image-container {
	float: left;
	margin: 5px 15px 15px 5px;
}

/*
	Sets limit for images to prevent over floating of images 
*/
.load-activity > .activity-image-container > .activity-image {
	min-height: 200px;
	max-height: 250px;
}