.load-container {	
	background: #134E5E; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #134E5E , #71B280); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #134E5E , #71B280); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow: hidden;
}

/*

SEARCH BAR + LOGO

*/

.load-header-search {
	float: left;
	padding-right: 10px;
}

/*

NAVIGATION BAR

*/

.load-navigation {
	margin-left: 20px;
}

.load-navigation > ul {
	list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.load-navigation > ul > li  {
	float: left;
}

.load-navigation > ul > li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.load-navigation > ul > li a:hover {
    background-color: #111;
}


/*

LEFT COLUMN CSS

*/

.load-left-col {
	float: left;
	height: 700px;
	width: 600px;
	overflow: auto;
}

