<!-- AllAuth code -->

<!-- {% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
 -->
<!-- loading webpack -->
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
    	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
		<!-- imports from the asset folder -->
    	<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome/css/font-awesome.min.css" %}">
    	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-social/bootstrap-social.css" %}">
    	<link rel="stylesheet" type="text/css" href="{% static "css/react.css" %}">
    	<!-- <link rel="stylesheet" type="text/css" href="assets/css/font-awesome/css/font-awesome.min.css"> -->
        <title>Hello React</title>
    </head>
    <body>
    	<header class="load-header">
			<div class="load-header-search">
	    		<img class="logo" src="https://www.microsoft.com/indonesia/events/lightup/Images/Microsoft_Logo.png" />
	        </div>

	        <!-- Navigation -->
	        <div class="load-navigation">
	        	<ul class="">
	            	<li><a href="#test">Home</a></li>
	            	<li><a href="#test">About</a></li>
	            	<li><a href="#test">Contact Us</a></li>
	        	</ul>
	        </div>
	        <!-- /Navigation -->
<!-- 	        <nav class="navbar navbar-default load-navigation">
	        	<div vlass="navbar-header">
	        		<ul class="nav navbar-nav navbar-right">
	     				<li><a href="#test">Home</a></li>
		            	<li><a href="#test">About</a></li>
		            	<li><a href="#test">Contact Us</a></li>
	        		</ul>
	        	</div>
	        </nav> -->

				<!-- <a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=003a3ad3-9d6a-493d-820e-6738c415f350&response_type=code&redirect_uri=http://localhost:8000/api/test&scope=openid https://outlook.office.com/calendars.readwrite&state=12345&nonce=678910">Outlook</a>
				<br /> -->
				<!-- <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=1084307285600-c271knciittbj18tj02nornfvmangnoa.apps.googleusercontent.com&response_type=code&scope=openid https://www.googleapis.com/auth/calendar&redirect_uri=http://localhost:8000/api/google&state=12345">Google</a> -->
		        <!-- /Include FB -->
	    </header>
    	<div class="overall-container">
        	{% if not is_authenticated %}
			<div class="socialaccount_ballot">
				<a title="Facebook" class="btn btn-social btn-facebook" href="/accounts/facebook/login/?process=login"><span class="fa fa-facebook"></span>Login with Facebook</a>
			</div>
			{% endif %}

			<input id="logged_in" type="hidden" value="{{has_calendar}}">
			<input id="email_type" type="hidden" value={{email_type}}>
			{% if has_calendar %}
			{{ access_token }}

			<input id="a-t" type="hidden" value="{{access_token}}">
			{% endif %}
	        <div id="container"></div>
	    </div>

	    <script type="text/javascript">
	    	// used to save the directory of images
	    	var NO_IMAGE = "{% static "img/No_Image_Available.png" %}"
	    </script>

		<script type="text/javascript">
			var clientId = '1084307285600-c271knciittbj18tj02nornfvmangnoa.apps.googleusercontent.com';

			var apiKey = 'AIzaSyDPnkp9aUFm5kzLsJ-Y68t-6Ol_CUiDtj0';

			var scopes = 'https://www.googleapis.com/auth/calendar';

			function handleClientLoad() {
			// Step 2: Reference the API key
				gapi.client.setApiKey(apiKey);
				window.setTimeout(checkAuth,1);
			}

			function checkAuth() {
				gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: true}, handleAuthResult);
			}

			function handleAuthResult(authResult) {
				if (authResult && !authResult.error) {
					console.log("logged in by default");
					document.getElementById("logged_in").value = "True"
					// to ensure Google from the background doesn't override outlook
					// when they log in as both
					if (document.getElementById("email_type").value == "") {
						document.getElementById("email_type").value = "Google_Calendar"
					}
					// makeApiCall();
				} else {
					// hack way due to how we manage with django and templates
					// by default button won't appear if we're already signed in to an
					// account
					// only allow button to show up if we're not logged in with any accounts
					var authorizeButton = document.getElementById('authorize-button');
					authorizeButton.style.visibility = '';
					authorizeButton.onclick = handleAuthClick;
				}
			}

			function handleAuthClick(event) {
				// Step 3: get authorizaitfon to use private data
				gapi.auth.authorize({client_id: clientId, scope: scopes, immediate: false}, handleAuthResult);
				return false;
			}
	    </script>
	    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>

        {% render_bundle 'main' %}
    </body>
</html>